.container {
  font-size: inherit;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.inner {
  display: flex;
  align-items: center;
}

.external-link-icon {
  margin-left: 4px;
  font-size: 0.8em;
}
