@use '@/styles/variables' as *;

.container {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgb(255 255 255 / 5.1%), rgb(255 255 255 / 5.1%));
  border-radius: 4px;
  box-shadow:
    0 2px 1px -1px $palette-shadow-offset-x,
    0 1px 1px 0 $palette-shadow-offset-y,
    0 1px 3px 0 $palette-shadow-blur-radius;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(xs) {
    flex-direction: column;
    padding-bottom: 4px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $palette-background-hover;
    opacity: 0.8;
  }

  @include mq(xs) {
    flex-direction: column;
  }
}

.button-wrapper {
  display: none;

  @include mq(xs) {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
  }
}
