@use '@/styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-image: linear-gradient(rgb(255 255 255 / 5.1%), rgb(255 255 255 / 5.1%));
  border-radius: 4px;
  box-shadow:
    0 2px 1px -1px $palette-shadow-offset-x,
    0 1px 1px 0 $palette-shadow-offset-y,
    0 1px 3px 0 $palette-shadow-blur-radius;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @include mq(xs) {
    flex-direction: column;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }
}
