@use '@/styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px 0;

  &:hover {
    background-color: $b-accent;
  }

  &:focus {
    background-color: $b-accent;
  }
}
