@use '@/styles/variables' as *;

.container {
  width: 100%;
  background-color: $palette-background-accent;
}

.container-inner {
  display: flex;
  max-width: 980px;
  padding: 56px 0 72px;
  margin: 0 auto;

  @include mq(sm) {
    flex-direction: column;
    gap: 32px;
    padding: 32px 0 64px;
  }
}

.logo {
  display: flex;
  align-items: center;
  min-width: 200px;

  @include mq(sm) {
    justify-content: center;
  }

  img {
    max-width: 100%;
    height: auto;

    @include mq(sm) {
      width: 150px;
    }
  }
}

.nav {
  display: flex;
  margin-left: 64px;

  @include mq(sm) {
    flex-direction: column;
    margin-left: 0;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 220px;
  padding: 16px 0;

  @include mq(sm) {
    gap: 0;
    width: 100%;
    padding: 0 32px;

    &:first-child {
      li:first-child {
        border-top: 1px #eee solid;
      }
    }
  }
}

.nav-list-item {
  @include mq(sm) {
    height: 60px;
    margin: 0;
    border-bottom: 1px #eee solid;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

.nav-list-item-mb {
  display: none;

  @include mq(sm) {
    display: block;
    height: 60px;
    margin: 0;
    border-bottom: 1px #eee solid;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

.other {
  margin-left: auto;

  @include mq(sm) {
    margin: 0;
  }
}

.sns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 50%;

  @include mq(sm) {
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 32px;
  }
}

.sns-list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.sns-list-text {
  padding: 0 8px;
}

.instagram-icon {
  font-size: 24px;
}

.copy-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50%;

  @include mq(sm) {
    align-items: center;
    justify-content: center;
    height: auto;
  }
}

.copy-right-text {
  margin: 8px;
  color: $palette-text-secondary;

  @include mq(sm) {
    margin: 0;
    font-size: 10px;
  }
}
