body {
  font-family: Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: 14px;
  color: #616161;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
