@use 'sass:map';

// カラーパレット
$palette-common-white: #fff;
$palette-common-black: #616161;
$palette-primary-main: #8bad95;
$palette-background-default: $palette-common-white;
$palette-background-accent: #f7f7f7;
$palette-background-hover: #e5e5e5;
$palette-text-primary: $palette-common-black;
$palette-text-secondary: #9e9e9e;
$palette-shadow-offset-x: rgb(0 0 0 / 20%);
$palette-shadow-offset-y: rgb(0 0 0 / 14%);
$palette-shadow-blur-radius: rgb(0 0 0 / 12%);

@function palette-primary-main-rgb($alpha) {
  @return rgba(139, 173, 149, $alpha);
}

// ページ関連
$page-max-width: 600px;

// ヘッダー関連
$header-height: 94px;
$m-header-height: 64px;

// z-index関連
$z-index-header: 1000;
$z-index-drawer: 1100;
$z-index-drawer-wrap: 1150;
$z-index-drawer-menu-btn: 1200;

// メディアクエリ
$breakpoints: (
  'xs': 'screen and (max-width: 540px)',
  'sm': 'screen and (max-width: 859px)',
  'md': 'screen and (max-width: 1199px)',
  'lg': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
