// メインカラー
$c-primary: #616161;

// バックグラウンド
$b-default: #fff;
$b-accent: #f7f7f7;
$b-hover: #e5e5e5;

// テキスト関連
$t-primary: #616161;
$t-secondary: #9e9e9e;
$t-disabled: #c2c2c2;
$t-contrast-primary: #fff;

// ヘッダー関連
$header-height: 94px;

// メディアクエリ
$breakpoints: (
  'sm': 'screen and (max-width: 739px)',
  'md': 'screen and (max-width: 1199px)',
  'lg': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
