@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding-bottom: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
}

.image {
  img {
    position: relative !important; // TODO: importantを使うのは不本意なので、いい方法があれば修正したい
    object-fit: contain;
  }
}
