@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - $header-height);

  @include mq(sm) {
    height: calc(100svh - $m-header-height);
  }

  img {
    object-fit: cover;
  }
}
