@use '@/styles/variables' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - $header-height);

  @include mq(sm) {
    height: calc(100svh - $m-header-height);
  }

  img {
    object-fit: cover;
  }
}

.image,
.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 3s ease-in-out;
}

.image {
  z-index: 1;
  opacity: 0.8;
}

.hidden {
  z-index: 0;
  opacity: 0;
}
