@use '@/styles/variables' as *;

.container {
  width: 100%;
  margin-top: $header-height;
  background-color: $palette-background-default;

  @include mq(sm) {
    margin-top: $m-header-height;
  }
}
