@use '@/styles/variables' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $palette-background-default;
}

.container-inner {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: $header-height;
  padding: 0 16px;

  @include mq(sm) {
    height: $m-header-height;
    padding: 0;
  }
}

.logo {
  display: flex;
  flex: 0 0 150px;
  align-items: center;
  justify-content: flex-start;
  width: 150px;

  @include mq(sm) {
    flex: 1;
    justify-content: center;
  }
}

.logo-link {
  display: flex;
  align-items: center;

  &:focus-visible {
    border-radius: 4px;
    outline: $palette-common-black solid 1px;
    outline-offset: 12px;

    @include mq(sm) {
      outline-offset: 8px;
    }
  }

  svg {
    width: 150px;
    max-width: 100%;
    height: auto;
    fill: $palette-common-black;

    @include mq(sm) {
      width: 100px;
    }
  }
}

.nav {
  display: flex;
  flex: 1;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Libre Baskerville', 'Times New Roman', YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;

  @include mq(sm) {
    display: none;
  }
}

.nav-list {
  display: flex;
  height: 100%;
}

.instagram-icon {
  font-size: 24px;
}

.drawer {
  display: none;

  @include mq(sm) {
    display: block;
  }
}
