@use '@/styles/variables' as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.nav {
  padding: 0 24px;
}

.nav-list {
  width: 100%;
}

.nav-list-item {
  height: 60px;
  margin: 0;
  font-weight: normal;
  border-bottom: 1px $palette-divider solid;

  &:first-child {
    border-top: 1px $palette-divider solid;
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.sns {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.memo {
  padding: 0 8px;
}

.instagram-icon {
  font-size: 24px;
}
