@use '@/styles/variables' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $b-default;
}

.inner {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 84px;
  padding: 0 16px;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;

  a {
    &:focus {
      border-radius: 4px;
      outline: $c-primary solid 1px;
    }
  }
}

.navi {
  height: 100%;
  margin-left: auto;
  font-family: 'Libre Baskerville', 'Times New Roman', YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;

  ul {
    display: flex;
    height: 100%;
  }
}
