@use '@/styles/variables' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $b-default;
}

.inner {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: $header-height;
  padding: 0 16px;
  margin: auto;

  @include mq(sm) {
    height: $m-header-height;
    padding-right: 40px;
    padding-left: 16px;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
  min-width: 150px;
  height: 100%;

  @include mq(sm) {
    justify-content: center;
    width: auto;
    min-width: auto;
    margin: 0 auto;
  }

  a {
    &:focus {
      border-radius: 4px;
      outline: $c-primary solid 1px;
    }

    svg {
      width: 150px;
      max-width: 100%;
      height: auto;
      fill: $c-primary;

      @include mq(sm) {
        width: 100px;
      }
    }
  }
}

.menu {
  display: none;

  @include mq(sm) {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.navi {
  height: 100%;
  margin-left: auto;
  font-family: 'Libre Baskerville', 'Times New Roman', YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;

  @include mq(sm) {
    display: none;
  }

  ul {
    display: flex;
    height: 100%;
  }
}
