@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: $header-height 0;
  background-color: $b-default;

  @include mq(sm) {
    height: 100dvh;
    padding: $m-header-height 0;
  }
}

.main {
  margin-bottom: 64px;
}

.title {
  margin-bottom: 32px;
  font-family: 'Libre Baskerville', 'Times New Roman', YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;
  text-align: center;
}

.main-title {
  font-size: 8rem;

  @include mq(sm) {
    font-size: 7rem;
  }
}

.sub-title {
  font-size: 2rem;

  @include mq(sm) {
    font-size: 1.5rem;
  }
}

.deiscription {
  padding: 0 32px;
  font-size: 1rem;
  text-align: center;

  @include mq(sm) {
    font-size: 0.9rem;
  }
}
