@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - $header-height);
  margin-top: $header-height;
  background-color: $b-default;
}

.main {
  margin-bottom: 32px;
  font-family: 'Libre Baskerville', 'Times New Roman', YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;
  text-align: center;
}

.not-found {
  font-size: 2rem;
}

.heading-eng {
  font-size: 8rem;
}

.btn {
  margin: 64px 0;
}
