@use '@/styles/variables' as *;

.container {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
}

.link {
  padding: 15px 40px;
}

.contained {
  color: $t-contrast-primary;
  background-color: $c-secondary;
  box-shadow:
    0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  opacity: 0.9;

  &:focus,
  &:hover {
    box-shadow:
      0 2px 4px -1px rgb(0 0 0 / 20%),
      0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
    opacity: 1;
  }
}

.outlined {
  color: $c-secondary;
  background-color: transparent;
  border: 1px solid rgb(139 173 149 / 50%);

  &:focus,
  &:hover {
    background-color: rgb(139 173 149 / 4%);
    border-color: $c-secondary;
  }
}
