@use '@/styles/variables' as *;

$transition: 0.2s ease-out;

.container {
  display: flex;
  font-size: 1rem;
  color: $t-contrast-primary;
  background-color: $c-secondary;
  border-radius: 4px;
  opacity: 0.9;

  &:focus,
  &:hover {
    box-shadow:
      0 2px 4px -1px rgb(0 0 0 / 20%),
      0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
    opacity: 1;
  }
}

.link {
  padding: 15px 40px;
}
