@use '@/styles/variables' as *;

.container {
  display: flex;
  font-weight: 500;
  border-radius: 4px;
}

.contained {
  color: $palette-common-white;
  background-color: palette-primary-main-rgb(0.9);
  box-shadow:
    0 3px 1px -2px $palette-shadow-offset-x,
    0 2px 2px 0 $palette-shadow-offset-y,
    0 1px 5px 0 $palette-shadow-blur-radius;

  &:focus-within,
  &:hover {
    background-color: $palette-primary-main;
    box-shadow:
      0 2px 4px -1px $palette-shadow-offset-x,
      0 4px 5px 0 $palette-shadow-offset-y,
      0 1px 10px 0 $palette-shadow-blur-radius;
  }
}

.outlined {
  color: $palette-primary-main;
  background-color: transparent;
  border: 1px solid palette-primary-main-rgb(0.5);

  &:focus-within,
  &:hover {
    background-color: palette-primary-main-rgb(0.04);
    border-color: $palette-primary-main;
  }
}

.text {
  font-weight: 700;
  color: $palette-primary-main;
  background-color: transparent;
  border: none;

  &:focus-within,
  &:hover {
    background-color: palette-primary-main-rgb(0.04);
  }
}

.small {
  padding: 4px 10px;
  font-size: 0.875rem;
}

.large {
  padding: 15px 40px;
  font-size: 1rem;
}
