@use '@/styles/variables' as *;

// アニメーションが実行される秒数
$animation-sec: 0.3s;

.menu-btn-wrap {
  position: fixed;
  top: 15px;
  left: 12px;
  z-index: $z-index-drawer-menu-btn;
  width: 32px;
  height: 32px;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.25s ease;

  &:focus-visible {
    outline: 1px solid $palette-common-black;
    outline-offset: 1px;
  }

  span {
    width: 65%;
    height: 2px;
    background-color: $palette-common-black;
    border-radius: 2px;
    transition: transform 0.25s ease;
    transform-origin: center center;

    &:nth-of-type(1) {
      transform: translateY(-4px);
    }

    &:nth-of-type(3) {
      transform: translateY(4px);
    }
  }

  &[aria-pressed='true'] {
    span {
      &:nth-of-type(1) {
        transform: translateY(2px) rotate(-45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-2px) rotate(45deg);
      }
    }
  }
}

.menu-wrap {
  position: fixed;
  top: 0;
  right: inherit;
  left: 0;
  z-index: $z-index-drawer-menu;
  width: 300px;
  height: 100vh;
  transition: all $animation-sec;
  transform: translateX(-100%);

  &[aria-hidden='false'] {
    transform: none;
  }
}

.menu {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  background: $palette-background-default;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: auto;
  padding: 48px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-drawer;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  transition: background-color $animation-sec;

  &[aria-hidden='false'] {
    pointer-events: auto;
    background-color: rgb(0 0 0 / 30%);
  }
}
