@use '@/styles/variables' as *;

.container {
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  font-size: 0.9rem;

  .text {
    position: relative;
    padding: 8px 0;

    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background-color: $palette-text-primary;
      border-radius: 1px;
      transition: transform 0.3s;
      transform: scale(0, 1);
      transform-origin: center top;
    }
  }

  &:focus,
  &:hover {
    .text {
      &::after {
        transform: scale(1, 1);
      }
    }
  }
}

.external-link-icon {
  margin-left: 4px;
}
