@use '@/styles/variables' as *;

.container {
  flex: 1 1 auto;
  padding: 16px;

  @include mq(xs) {
    width: 100%;
  }
}

.primary {
  font-size: 20px;
  line-height: 1.2;
  color: $t-primary;

  @include mq(xs) {
    line-height: 1.4;
  }
}

.secondary {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.4;
  color: $t-secondary;

  @include mq(xs) {
    margin-top: 8px;
  }
}
