@use '@/styles/variables' as *;

.container {
  font-size: 1em;
  color: $t-primary;

  &:focus,
  &:hover {
    text-decoration: underline;

    @include mq(sm) {
      color: $t-secondary;
      text-decoration: none;
    }
  }
}

.inner {
  display: flex;
  align-items: center;
}

.external-link-icon {
  margin-left: 4px;
  font-size: 0.8em;
}
