@use '@/styles/variables' as *;

.container {
  flex: 0 0 320px;
  width: 320px;
  height: 240px;
  overflow: hidden;
  border-radius: 8px;

  @include mq(xs) {
    flex: 0 0 320px;
    width: 100%;
    height: 320px;
    border-radius: 4px 4px 0 0;
  }

  img {
    object-fit: cover;
  }
}
