@use '@/styles/variables' as *;

.container {
  display: block;
  width: 100%;

  div {
    margin: 0 32px 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content {
  p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.career {
  margin-bottom: 16px;
  font-size: 16px;

  td {
    &:first-child {
      width: 100px;
    }
  }
}

.temp {
  margin: 0 0 32px !important;
}

.annotation {
  margin-top: 32px;
  color: $t-secondary;
}

.image {
  img {
    position: relative !important; // TODO: importantを使うのは不本意なので、いい方法があれば修正したい
    object-fit: contain;
  }
}
