@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.title {
  padding: 0 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 32px;
}

.career {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: disc;

    li {
      margin-left: 20px;
    }
  }
}

.table {
  tbody {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  td {
    &:first-child {
      width: 84px;
    }
  }
}

.annotation {
  margin-top: 32px;
  font-size: 14px;
  color: $t-secondary;
}

.image {
  padding: 0 32px;

  img {
    position: relative !important; // TODO: importantを使うのは不本意なので、いい方法があれば修正したい
    object-fit: contain;
  }
}
