@use '@/styles/variables' as *;

.container {
  width: 100%;
  background-color: $b-accent;
}

.inner {
  display: flex;
  max-width: 980px;
  padding: 56px 0 72px;
  margin: 0 auto;

  @include mq(sm) {
    display: block;
    min-width: 360px;
    padding: 32px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  min-width: 200px;

  @include mq(sm) {
    justify-content: center;
    margin-bottom: 32px;
  }

  img {
    @include mq(sm) {
      width: 150px;
      height: 150px;
    }
  }
}

.map {
  display: flex;
  margin-left: 64px;

  @include mq(sm) {
    display: block;
    margin-bottom: 32px;
    margin-left: 0;
  }
}

.map-list {
  width: 220px;

  @include mq(sm) {
    width: 100%;
    padding: 0 32px;
  }
}

.map-list-item {
  margin: 16px 0;
  font-size: 1em;
  font-weight: bold;

  @include mq(sm) {
    height: 60px;
    margin: 0;
    border-bottom: 1px #eee solid;
  }

  &:first-child {
    @include mq(sm) {
      border-top: 1px #eee solid;
    }
  }

  a {
    @include mq(sm) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

.map-child-list {
  margin-left: 16px;
}

.map-child-list-item {
  margin: 8px 0;
  font-size: 0.8em;
  font-weight: normal;

  @include mq(sm) {
    display: none;
  }
}

.other {
  margin-left: auto;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  height: 50%;

  @include mq(sm) {
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 32px;
  }
}

.sns-list {
  display: flex;
  align-items: center;
}

.sns-list-text {
  padding: 0 8px;
}

.caret {
  display: flex;
  margin: 0 8px;
}

.instagram-icon {
  font-size: 1.4em;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  height: 50%;

  @include mq(sm) {
    align-items: center;
    justify-content: center;
    height: auto;
  }
}

.copy-right {
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  color: $t-secondary;

  @include mq(sm) {
    margin-right: auto;
    margin-bottom: 0;
  }
}
