@use '@/styles/variables' as *;

.container {
  position: relative;
  display: flex;
  padding: 8px;
  font-size: inherit;
  border-radius: 1.4em;

  &:focus,
  &:hover {
    background-color: $b-hover;
  }
}
